body {
  display: grid;
  margin: 0;
  height: 100vh;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-rows: 20% 1fr 40px;
  grid-template-columns: 1fr 160px;
}
header {
  grid-area: header;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
main {
  grid-area: main;
  background-color: #800000;
}
aside {
  grid-area: aside;
  background-color: gray;
}
footer {
  grid-area: footer;
  background-color: #000;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-variant: initial;
  word-spacing: 4px;
  line-height: 1.5px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}
a:link {
  background: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: #fff;
}
a:visited {
  color: red;
}
a:hover {
  background: #000;
  color: #fff;
  font-weight: bold;
  border-color: #000;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.logo {
  height: 20vh;
}
